/elpa
/.cask
/eshell
/games
/auto-save-list
/recentf
/tramp
/bookmarks
*.elc
/org-clock-save.el
/projectile-bookmarks.eld
/transient/history.el
/history
/eln-cache/
/test-config.el
/xenops/
/tutorial/
/rime/
/tabsession.el
/projects
/url/
/multisession/
