[submodule "packages/consult-bibtex"]
	path = packages/consult-bibtex
	url = git@github.com:mohkale/consult-bibtex.git
[submodule "packages/evil-motion-trainer"]
	path = packages/evil-motion-trainer
	url = git@github.com:martinbaillie/evil-motion-trainer.git
