config.el
/elpa
/.cask
/eshell
/games
/auto-save-list
/recentf
/tramp
/bookmarks
*.elc
/org-clock-save.el
/projectile-bookmarks.eld
/transient/history.el
/history
/eln-cache/
/early-init.el
/test-config.el
